<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689604874507-o52e6bdnk5qmn49uk78qeq1siveq6e2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689604874507-o52e6bdnk5qmn49uk78qeq1siveq6e2s</string>
	<key>API_KEY</key>
	<string>AIzaSyBAbZlfDO5oI1siMNPgfgKCB3E_86BxwGk</string>
	<key>GCM_SENDER_ID</key>
	<string>689604874507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EventTime.ver2</string>
	<key>PROJECT_ID</key>
	<string>add-a-new-login</string>
	<key>STORAGE_BUCKET</key>
	<string>add-a-new-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689604874507:ios:079c5a7b2ff3c14b</string>
	<key>DATABASE_URL</key>
	<string>https://add-a-new-login.firebaseio.com</string>
</dict>
</plist>